doctype html
html
  include inc/head
  body
    textarea#source
      include ../slides/slides-intro.md
      include ../slides/slides-code.md
      include ../slides/slides-outro.md
    include inc/scripts
